/* SLIDER */
.button {
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.button-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.button-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.button-secondary {
    border-color: var(--primary);
    color: var(--primary)
}

.button-secondary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

#slider {
    background: url(../assets/slider-bg.svg) no-repeat center bottom;
    background-size: contain;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 900;
}

#slider h4 {
    font-size: 18px;
    text-transform: uppercase;
}
/* /SLIDER */